---
const { pathname } = Astro.url;
---

<header>
  <div class="message">
    <div class="text">We all want the same!</div>
    {
      pathname === "/" ? (
        <div class="kiss">KISS</div>
      ) : (
        <strong class="kiss">
          <a href="/">KISS</a>
        </strong>
      )
    }
    <div class="text">Keep it simple, stupid!</div>
  </div>
  <slot />
</header>

<style>
  header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
  }

  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
  }

  .text {
    font-size: 120%;
    font-weight: 100;
    padding: 0px 0;
  }

  .kiss {
    padding: 20px 30px;
    font-size: 200%;
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
  }
</style>
