body {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.text-center {
  text-align: center;
}

.btn {
  border-radius: 50%;
}

.btn svg {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: block;
  background-color: white;
}

.close-btn {
  position: absolute;
  top: 20px;
  cursor: pointer;
}

.ones,
.ones--no-backside {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  padding: 20px;
  background-color: white;
  display: none;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sb__one-thought {
  font-weight: 600;
  font-size: 160%;
  padding-top: 10px;
  padding-bottom: 8px;
}

.sb__top-thought {
  font-size: 140%;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 8px;
}

.sb__sub-thought {
  font-size: 125%;
  font-weight: 100;
  padding-bottom: 8px;
}

@media screen and (max-width: 1440px) {
  .ones {
    flex-direction: column;
  }
}

@media screen and (max-width: 1140px) {
  .ones--no-backside {
    flex-direction: column;
  }
}
