---
import Tooltip from "./Tooltip.astro";

interface Props {
  name: string;
  thought: string;
  description?: string;
}

const { name, thought, description } = Astro.props;
---

<div class="thought">
  <div class="name">{name}</div>
  {
    description ? (
      <Tooltip content={description}>{thought}</Tooltip>
    ) : (
      <span>{thought}</span>
    )
  }
</div>
<style>
  .name {
    font-weight: 100;
    padding-bottom: 6px;
  }

  .thought {
    margin-bottom: 18px;
  }
</style>
