---
interface Props {
  icon: string;
  size?: string;
  padding?: string;
}

const { icon, size = "60px", padding = 0 } = Astro.props;
---

<div>{icon}</div>

<style define:vars={{ size, padding }}>
  div {
    font-size: var(--size);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
  }
</style>
