---
interface Props {
  icon: string;
  size?: string;
}

const { icon, size = "60px" } = Astro.props;
---

<div>{icon}</div>

<style define:vars={{ size }}>
  div {
    font-size: var(--size);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
