---
import Connection from "./Connection.astro";
---

<header>
  <strong>We all want the same!</strong>
  <h1>KISS</h1>
  <strong>Keep it simple, stupid!</strong>
  <!--   <Connection /> -->
</header>

<style>
  header {
    width: 100%;
    text-align: center;
  }

  strong {
    font-size: 20px;
    text-align: center;
    display: block;
    font-weight: 100;
  }
</style>
