---
interface Props {
  text: string;
  author: string;
  margin?: string;
}

const { text, author, margin = "40px 0" } = Astro.props;
---

<div>
  <blockquote>
    {text}
  </blockquote>
  {author}
</div>

<style define:vars={{ margin }}>
  div {
    padding: 30px;
    margin: var(--margin);
    text-align: center;
    font-size: 80%;
    /*     border-top: 2px solid black;
    border-bottom: 2px solid black; */
  }

  blockquote {
    font-size: 180%;
    font-weight: 100;
    padding-bottom: 10px;
    line-height: 140%;
    text-align: center;
  }
</style>
