---
interface Props {
  text: string;
  author: string;
}

const { text, author } = Astro.props;
---

<div>
  <blockquote>
    {text}
  </blockquote>
  {author}
</div>

<style>
  div {
    text-align: center;
    border-top: 1px solid black;
    padding: 40px 0;
  }

  blockquote {
    font-size: 140%;
    font-weight: 100;
    padding-bottom: 20px;
  }
</style>
