---
import type { Thought } from "@apptypes/index";
import Tooltip from "./Tooltip.astro";

interface Props {
  data: Thought[];
}

const { data } = Astro.props;
---

<ul>
  {
    data.map((thought: Thought) => (
      <li>
        {thought.description ? (
          <Tooltip content={thought.description}>{thought.name}</Tooltip>
        ) : (
          thought.name
        )}
      </li>
    ))
  }
</ul>

<style>
  li {
    padding: 0 20px 6px 20px;
  }
</style>
