---
import type { Thoughts, Thought } from "../data/one";
import { slugify } from "../scripts/slugify";
import Tooltip from "./Tooltip.astro";

interface Props {
  data: Thoughts;
}

const { name, thoughts } = Astro.props.data;
---

<div id={slugify(name)}>
  <h3>{name}</h3>
  <ul>
    {
      thoughts.map((thought: Thought) => (
        <li>
          {thought.description ? (
            <Tooltip content={thought.description}>{thought.teaser}</Tooltip>
          ) : (
            thought.teaser
          )}
        </li>
      ))
    }
  </ul>
</div>
<style>
  h3,
  li {
    padding-bottom: 14px;
  }

  h3 {
    padding-top: 14px;
  }
</style>
